<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="passion.spring.env.mapper.BlogMapper">
    <insert id="create">
        insert into news
        values(seq_news.nextval, #{newsTitle}, #{reporter}, #{filepath}, #{content})</insert>

    <select id="readList"
        resultType="passion.spring.env.domain.News">
        <![CDATA[
        select
            newsId, newsTitle, reporter, filepath, content
        from
            news
        order by newsId asc
        ]]>
    </select>

    <select id="read"
        resultType="passion.spring.env.domain.News">
        select
        *
        from
        news
        where newsId = #{newsId}
    </select>

    <update id="update">
        update news
        set newsTitle=#{newsTitle}, reporter=#{reporter}, filepath=#{filepath}, content=#{content}
        where newsId = #{newsId}
    </update>

    <delete id="delete">
        delete
        from news
        where newsId = #{newsId}
    </delete>

</mapper>