<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns: lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page || Agrikon || HTML Template For Agriculture Farm & Farmers</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <meta name="description" content="Agrikon HTML Template For Agriculture Farm & Farmers">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/jarallax.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/agrikon-icons.css">
    <link rel="stylesheet" href="assets/css/nouislider.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.pips.css">
    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- 추가css -->
    <link rel="stylesheet" href="assets/css/post.css">
</head>

<body>
    <div class="preloader">
        <img class="preloader__image" width="55" src="assets/images/loader.png" alt="">
    </div><!-- /.preloader -->
    <th:block th:replace="~{/main/index-head::header}"></th:block>
    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

    <!-- content -->
    <div id="content">
        <fieldset class="login_form">
            <br><br>
            <section class="testimonials-one testimonials-one__about">
                <!-- <img src="assets/images/icons/testimonials-bg-1-1.png" class="testimonials-one__bg" alt=""> -->
                <div class="container">
                    <h2 class="testimonials-one__title">Testimonials</h2>
                    <div id="testimonials-one__carousel" class="testimonials-one__carousel swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonials-one__icons">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div><!-- /.testimonials-one__icons -->
                                <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly
                                    refresing to get such a personal touch. Duis aute lorem ipsum is simply free text irure dolor in
                                    reprehenderit in esse nulla pariatur.</p>
                            </div><!-- /.swiper-slide -->
                            <div class="swiper-slide">
                                <div class="testimonials-one__icons">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div><!-- /.testimonials-one__icons -->
                                <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly
                                    refresing to get such a personal touch. Duis aute lorem ipsum is simply free text irure dolor in
                                    reprehenderit in esse nulla pariatur.</p>
                            </div><!-- /.swiper-slide -->
                            <div class="swiper-slide">
                                <div class="testimonials-one__icons">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div><!-- /.testimonials-one__icons -->
                                <p>This is due to their excellent service, competitive pricing and customer support. It’s throughly
                                    refresing to get such a personal touch. Duis aute lorem ipsum is simply free text irure dolor in
                                    reprehenderit in esse nulla pariatur.</p>
                            </div><!-- /.swiper-slide -->
                        </div><!-- /.swiper-wrapper -->
                    </div><!-- /#testimonials-one__carousel -->

                    <div id="testimonials-one__thumb" class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                            </div><!-- /.swiper-slide -->
                            <div class="swiper-slide">
                                <button class="more">자세히보기</button>
                            </div><!-- /.swiper-slide -->
                            <div class="swiper-slide">
                            </div><!-- /.testimonials-one__image -->
                        </div><!-- /.swiper-slide -->
                    </div><!-- /.swiper-wrapper -->
                </div><!-- /#testimonials-one__thumb.swiper-container -->

                <div id="testimonials-one__meta" class="testimonials-one__carousel swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonials-one__meta">
                                <h4>Jessica Brown</h4>
                                <span>Customer</span>
                            </div><!-- /.testimonials-one__meta -->
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <div class="testimonials-one__meta">
                                <h4>Caleb Hoffman</h4>
                                <span>Customer</span>
                            </div><!-- /.testimonials-one__meta -->
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <div class="testimonials-one__meta">
                                <h4>Bradley Kim</h4>
                                <span>Customer</span>
                            </div><!-- /.testimonials-one__meta -->
                        </div><!-- /.swiper-slide -->
                    </div><!-- /.swiper-wrapper -->
                </div><!-- /#testimonials-one__meta.swiper-container -->
                <div class="swiper-pagination" id="testimonials-one__swiper-pagination"></div>
            </section>
        </fieldset>
    </div><!-- /.container -->
    <div class="container">
        <div align="right" class="writebutton" >
            <a href="write" class="btn btn-primary pull-right" >글쓰기</a>
        </div>
        <div class="row">
            <table class="table table-striped">
                <!-- 테이블 시작 -->
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${board}">
                    <div class="number"><td th:text="${board.board_id}"></div>
                    <td th:text="${board.title}" >
                    <td th:text="${board.content}" >
                    <td>2020.05.05</td>
                    <td>27</td>
                </tr>
                </tbody><!-- 테이블 끝-->
            </table>
        </div>
</div>
    <hr/>
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#"><</a></li>
        <!-- DataBase 에서 5단위로 끊어 목록 표시 -->
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">></a></li>
    </ul>
    <br><br>
    <th:block th:replace="main/index-footer::footer"></th:block>
    <div class="bottom-footer">
        <div class="container">
            <p>© Copyright 2020 by Company.com</p>
            <div class="bottom-footer__links">
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Sitemap</a>
            </div><!-- /.bottom-footer__links -->
        </div><!-- /.container -->
    </div><!-- /.bottom-footer -->

    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="far fa-times"></i></span>

            <div class="logo-box">
                <a href="index" aria-label="logo image"><img src="assets/images/logo-light.png" width="155" alt=""/></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="agrikon-icon-email"></i>
                    <a href="mailto:needhelp@agrikon.com">needhelp@agrikon.com</a>
                </li>
                <li>
                    <i class="agrikon-icon-telephone"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__language">
                    <img src="assets/images/resources/flag-1-1.jpg" alt="">
                    <label class="sr-only" for="language-select">select language</label>
                    <!-- /#language-select.sr-only -->
                    <select class="selectpicker" id="language-select">
                        <option value="english">English</option>
                        <option value="arabic">Arabic</option>
                    </select>
                </div><!-- /.mobile-nav__language -->
                <div class="mobile-nav__social">
                    <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->
        </div><!-- /.mobile-nav__content -->
    </div><!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..."/>
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div><!-- /.search-popup__content -->
    </div><!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/jarallax.min.js"></script>
    <script src="assets/js/circle-progress.min.js"></script>
    <script src="assets/js/wNumb.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>

    <!-- template js -->
    <script src="assets/js/theme.js"></script>
</body>
<style>
    .writebutton{
        margin: 0px 0px 10px 10px;
    }
</style>
</html>