@font-face {
    src:url("../fonts/BMJUA_ttf.ttf");
    font-family: "jua";
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    background-color: #eee;
    font-size: 15px;
    color : #222;
}
a{
    color : #222;
    text-decoration: none;
}
header  {
    border-bottom : 1px solid lightgray;
    background-color: #fff;
    height: 60px;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
}
#container{
    padding-bottom: 768px;
    margin: 0;
}
section{
    height: calc(100vh - 60px);
    position: relative;
}
.login{
    width: 360px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.login-type{
    margin-top: 50px;
}
.login-type h1{
    margin-top:0;
    font-size: 38px;
    text-align: center;
    font-weight: normal;
}
h3{
    text-align: center;
    color: #454444;
}
.int-area{
    width: 340px; position:relative;
    margin-top:20px;
}
.int-area:first-child {
    margin-top: 0;
}
.int-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; color: #000000;
    outline: none;
}

.int-area label{
    position: absolute; left: 10px; top: 15px;
    font-size: 17px; color: #999;
    transition: all .5s ease;
}
/*.int-area label.warning {*/
/*    color: #ff0000 !important;*/
/*    animation: warning .3s ease;*/
/*    animation-iteration-count: 3;*/
/*}*/

.int-area input:focus + label,
.int-area input:valid + label {
    top: -2px;
    font-size: 13px; color: #999;
}

#bir_yy {
    display: table-cell;
    width: 147px;
    height: 35px;

}

#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
    height: 35px;
}

#bir_dd {
    display: table-cell;
    width: 147px;
}

#bir_mm, #bir_dd {
    padding-left: 10px;
}


/*.input_row{*/
/*    position: relative;*/
/*    height: 29px;*/
/*    margin-bottom: 8px;*/
/*    padding: 7px 35px 10px 11px;*/
/*    border: solid 1px #dadada;*/
/*    background: #fff;*/
/*}*/
/*.int{*/
/*    font-size: 14px;*/
/*    line-height: 16px;*/
/*    position: relative;*/
/*    z-index: 9;*/
/*    width: 100%;*/
/*    height: 16px;*/
/*    padding: 8px 0 6px;*/
/*    color: #000;*/
/*    border: none;*/
/*    background: #fff;*/

/*}*/
.btn{
    border: 1px solid lightblue;
    display: block;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    margin-top: 5px ;
    margin-bottom: 5px;
    font-size: 18px;
    color:#fff;
    opacity: 0.8;
}
.btn:hover {
    opacity: 1;
}
.btn:nth-of-type(1) {
    background: #000000;
    /*border-radius: 50px;*/
    margin-top:10px;
}
/*.or-text {*/
/*    display: block;*/
/*    text-align: center;*/
/*    margin-bottom: 10px;*/
/*    position: relative;*/
/*}*/
/*.or-text:before,*/
/*.or-text:after{*/
/*    content: '';*/
/*    background-color: lightgray;*/
/*    height: 1px;*/
/*    width: 44%;*/
/*    position: absolute;*/
/*    top:9px;*/
/*}*/

/*주소*/

#placeholder {
    border: solid 1px #dadada;
    margin-bottom: 4px;
    height: 37px;
}
.login-footer{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.login-footer p {
    text-align: center;
}
.login-footer p a {
    font-weight: normal;
}
.login-footer p a:hover {
    text-decoration: underline;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: #f5f6f7;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

#wrapper {
    position: relative;
    height: 100%;
}

#content {
    margin: auto;
    left: 50%;
    width: 460px;
}


h1{
    font-family: "jua";
}
h2 {
    font-size: 14px;
    font-weight: 500;
    text-align: center;

}
table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    background-color: #ffffff;
}
td {
    border: 1px solid #DEDEDE;
}
input{
    height: 20px;
    border : #1a202c;
    margin-left: 5px;
    font-size: 18px;
}
th:nth-child(2n), td:nth-child(2n) {
    background-color: #ffffff;
}
th:nth-child(2n+1), td:nth-child(2n+1) {
    background-color: #F9F9F9;
}
/* 버튼 */

.btn_page {
    margin: 30px 0 91px 25%;
    width: 100%;
}

#btnokay {
    margin: auto;
    text-align: center;
    width: 50%;
    height:40px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #429B7A;
    font-size: 18px;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
    text-align: left;

}


.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}
.box1 {
    display: block;
    width: 145px;
    height: 35px;
    border: solid 1px #dadada;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 95%;
    height: 48px;
    border: none;
    background: #fff;
    font-size: 15px;
}
.int1 {
    display: block;
    position: relative;
    width: 95%;
    height: 32px;
    border: none;
    background: #fff;
    font-size: 15px;
}
input {
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

.box.int_pass {
    padding-right: 40px;
}

.box.int_pass_check {
    padding-right: 40px;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background-size: 20px 8px;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

.thm-btnn {
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    background-color: #6AA1D7;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 700;
    font-family: var(--thm-font);
    padding: 4px 100px;
    -webkit-transition: 500ms;
    transition: 500ms;
    background-color: #6AA1D7;
    color: #fff;
}



.thm-bznn {
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    background-color: #6AA1D7;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 700;
    font-family: var(--thm-font);
    padding: 4px 100px;
    -webkit-transition: 500ms;
    transition: 500ms;
    background-color: #fff;
    color: #6AA1D7;
}
