<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-widget">
                        <a href="index" class="footer-widget__Logo">
                            <img src="assets/images/logo-dark.png" width="153" alt="">
                        </a>
                        <p style="color:#fff">There are many variations of passages of lorem ipsum available, but the majority suffered.
                        </p>
                        <form action="#" data-url="YOUR_MAILCHIMP_URL" class="mc-form">
                            <input type="email" name="EMAIL" placeholder="Email Address">
                            <button type="submit"><i class="agrikon-icon-right-arrow"></i></button>
                        </form><!-- /.mc-form -->
                        <div class="mc-form__response"></div><!-- /.mc-form__response -->
                        <div class="footer__social">
                            <a href="#" class="fab fa-facebook-square"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-pinterest-p"></a>
                            <a href="#" class="fab fa-instagram"></a>
                        </div><!-- /.topbar__social -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-4 -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-widget">
                        <h3 class="footer-widget__title">광고</h3><!-- /.footer-widget__title -->
                        <ul class="list-unstyled footer-widget__post">
                            <li>
                                <img src="assets/images/resources/composter.jpg" alt="">
                                <div class="footer-widget__post-content">
                                    <span>키친 콤포스터 20리터</span>
                                    <h4><a href="http://item.gmarket.co.kr/Item?goodscode=595192489">가정용 음식물 쓰레기 퇴비 만들기 통</a></h4>
                                </div><!-- /.footer-widget__post-content -->
                            </li>
                            <li>
                                <img src="assets/images/resources/footer-post-2.png" alt="">
                                <div class="footer-widget__post-content">
                                    <span>Nov 16, 2020</span>
                                    <h4><a href="templates/news/blog-details.html">How to grow vagetables in the forms</a></h4>
                                </div><!-- /.footer-widget__post-content -->
                            </li>
                        </ul><!-- /.list-unstyled footer-widget__post -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-widget">
                        <h3 class="footer-widget__title">쓰레기 처리시설</h3><!-- /.footer-widget__title -->
                        <ul class="list-unstyled footer-widget__post">
                            <li>
                                <img src="assets/images/resources/footer-post-1.png" alt="">
                                <div class="footer-widget__post-content">
                                    <span>Nov 16, 2020</span>
                                    <h4><a href="../news/blog-details.html">How to grow vagetables in the forms</a></h4>
                                </div><!-- /.footer-widget__post-content -->
                            </li>
                            <li>
                                <img src="assets/images/resources/footer-post-2.png" alt="">
                                <div class="footer-widget__post-content">
                                    <span>Nov 16, 2020</span>
                                    <h4><a href="templates/news/blog.html">How to grow vagetables in the forms</a></h4>
                                </div><!-- /.footer-widget__post-content -->
                            </li>
                        </ul><!-- /.list-unstyled footer-widget__post -->
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <h3 class="footer-widget__title">Project</h3><!-- /.footer-widget__title -->
                    <ul class="list-unstyled footer-widget__contact">
                        <li>
                            <span style="color: #fff">2021 passion 프로젝트</span>
                        </li>
                        <li>
                            <span style="color: #fff">제작 : passion</span>
                        </li>
                        <li>
                            <span style="color: #fff">전민서, 임혜진 권오준, 한정수, 전영준, 조강현, 구승민, 이고은</span>
                        </li>
                    </ul><!-- /.list-unstyled -->
                </div><!-- /.col-sm-12 col-md-6 col-lg-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </footer><!-- /.site-footer -->
</div>