<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details || Agrikon || HTML Template For Agriculture Farm & Farmers</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <meta name="description" content="Agrikon HTML Template For Agriculture Farm & Farmers">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/jarallax.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/agrikon-icons.css">
    <link rel="stylesheet" href="assets/css/nouislider.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.pips.css">

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div class="preloader">
        <img class="preloader__image" width="55" src="assets/images/loader.png" alt="">
    </div><!-- /.preloader -->
    <div class="page-wrapper">
        <th:block th:replace="~{main/index-head::header}"></th:block>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/project-details-ozone-background.png);"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li>/</li>
                    <li><span>Project Details</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
                <h2 style="text-shadow: 2px 2px 3px #555">세계 습지의 날</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="project-details">
            <div class="container">
<!--
                <img src="assets/images/projects/project-d-1-1.jpg" class="img-fluid" alt="">
                <ul class="list-unstyled project-details__list">
                    <li>
                        <span>Date:
                        </span>
                        20 July, 2020
                    </li>
                    <li>
                        <span>Client:
                        </span>
                        Mike Hardson
                    </li>
                    <li>
                        <span>Category:
                        </span>
                        Agriculture, Eco
                    </li>
                    <li>
                        <span>Service:
                        </span>
                        Organic Products
                    </li>
                </ul>
-->
                <div class="text-box">
                  <h2>세계 습지의 날이란?</h2>
                  <p>
                      1997년 국제 습지 조약에 지정하였다. 습지의 보존 및 가치를 널리 퍼뜨리기 위한 목적이 있다. 매년, 정부 기관, 비정부 기구, 보호 단체,시민 단체들은 습지, 특히 람사르 등록 습지의 가치에 대해 대중들에 대한 인식을 높이기 위해 활동하였다. 또한, 이러한 단체들에게 습지의 중요성과 가치에 대한 대중의 인식을 높이는 데 도움을 줄 수 있도록 1997년 이후 매년 람사르 사무국은 자료를 제공하고 있다.
                  </p>
                </div>
                <div class="text-box">
                  <h2>습지란</h2>
                  <p>
                      습지는 물에 따라 동식물의 생활과 주변 환경이 결정되는 곳이며, 일년의 일정기간 이상 물에 잠겨 있거나 젖어 있는 지역으로, 담수, 기수 또는 염수가 영구적 또는 일시적으로 그 표면을 덮고 있다. 건조시에 수심의 6미터를 넘지 않는 해역을 포함한다. 크게 내륙습지와 연안습지로 나뉜다.
                  </p>
                </div>
                <div class="text-box">
                  <h2>습지 파괴 원인</h2>
                  <p>
                      현재 습지가 위협을 받고 있는 주된 이유는 빈곤과 산업시설 두 가지 문제 때문이다. 브룬디의 많은 산업의 근간을 보면 습지를 기반으로 하고, 브룬디 수도에 있는 최대의 호수에 대부분의 산업시설이 위치해 있다
                  </p>
                </div>
                <div class="text-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>습지 파괴 원인</h3>
                            <p>
                                현재 습지가 위협을 받고 있는 주된 이유는 빈곤과 산업시설 두 가지 문제 때문이다. 브룬디의 많은 산업의 근간을 보면 습지를 기반으로 하고, 브룬디 수도에 있는 최대의 호수에 대부분의 산업시설이 위치해 있다
                            </p>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="project-details__images">

                                <img src="assets/images/projects/습지2.jpg" alt="">
                            </div><!-- /.project-details__images -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.bottom-content -->
                <div class="text-box">
                  <h2>습지가 사라진다면?</h2>
                  <p>
                      습지는 대량의 이산화탄소를 머금고 있기 때문에 습지가 사라진다면, 인류의 생존이 위협받을 수 있다고 전문가들이 경고하고 있습니다.
                  </p>
                </div>
                <div class="text-box">
                  <h2>습지 보호</h2>
                  <p>
                      습지보호지역 또는 습지개선지역의 보호·관리를 위하여 출입제한을 하거나(제15조 출입 제한) 훼손된 습지는 관찰하여 관리하도록 하고 있습니다(제17조훼손 된 습지의 관리). 특히 생태계 보전, 습지환경 개선 등을 위하여 인공적인 습지를 조성하도록 권장하고 있습니다.
                  </p>
                </div>


            </div><!-- /.container -->
        </section><!-- /.project-details -->


        <th:block th:replace="~{main/index-footer::footer}"></th:block>
        <div class="bottom-footer">
            <div class="container">
                <p>© Copyright 2020 by Company.com</p>
                <div class="bottom-footer__links">
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Sitemap</a>
                </div><!-- /.bottom-footer__links -->
            </div><!-- /.container -->
        </div><!-- /.bottom-footer -->

    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="far fa-times"></i></span>

            <div class="logo-box">
                <a href="/" aria-label="logo image"><img src="assets/images/logo-light.png" width="155" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="agrikon-icon-email"></i>
                    <a href="mailto:needhelp@agrikon.com">needhelp@agrikon.com</a>
                </li>
                <li>
                    <i class="agrikon-icon-telephone"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__language">
                    <img src="assets/images/resources/flag-1-1.jpg" alt="">
                    <label class="sr-only" for="language-select">select language</label>
                    <!-- /#language-select.sr-only -->
                    <select class="selectpicker" id="language-select">
                        <option value="english">English</option>
                        <option value="arabic">Arabic</option>
                    </select>
                </div><!-- /.mobile-nav__language -->
                <div class="mobile-nav__social">
                    <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/jarallax.min.js"></script>
    <script src="assets/js/circle-progress.min.js"></script>
    <script src="assets/js/wNumb.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>

    <!-- template js -->
    <script src="assets/js/theme.js"></script>
</body>

</html>