<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details || Agrikon || HTML Template For Agriculture Farm & Farmers</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <meta name="description" content="Agrikon HTML Template For Agriculture Farm & Farmers">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/jarallax.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/agrikon-icons.css">
    <link rel="stylesheet" href="assets/css/nouislider.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.pips.css">

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div class="preloader">
        <img class="preloader__image" width="55" src="assets/images/loader.png" alt="">
    </div><!-- /.preloader -->
    <div class="page-wrapper">
        <th:block th:replace="~{main/index-head::header}"></th:block>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/project-details-ozone-background.png);"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li>/</li>
                    <li><span>Project Details</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
                <h2 style="text-shadow: 2px 2px 3px #555">지구의 날</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="project-details">
            <div class="container">
<!--
                <img src="assets/images/projects/project-d-1-1.jpg" class="img-fluid" alt="">
                <ul class="list-unstyled project-details__list">
                    <li>
                        <span>Date:
                        </span>
                        20 July, 2020
                    </li>
                    <li>
                        <span>Client:
                        </span>
                        Mike Hardson
                    </li>
                    <li>
                        <span>Category:
                        </span>
                        Agriculture, Eco
                    </li>
                    <li>
                        <span>Service:
                        </span>
                        Organic Products
                    </li>
                </ul>
-->
                <div class="text-box">
                  <h2>지구의 날 이란?</h2>
                  <p>
                      지구의 날은 1970년 4월 22일 미국의 상원의원 게이로 닐슨이 하버드 대학생 데니스 헤이즈와 함께 1969년 1월 28일 캘리포니아 산타 바바라에서 있었던 기름유출 사고를 계기로 지구의 날 선언문을 발표하고 행사를 주최한 것에서 비롯된 기념일이다.
                  </p>
                </div>
                <div class="text-box">
                  <h2>지구 파괴 원인</h2>
                  <p>
                      온실효과를 일으키는 온실기체가 유력한 원인으로 꼽힌다. 온실기체로는 이산화탄소가 가장 대표적이며 인류의 산업화와 함께 그 양은 계속 증가하고 있다. 이외에도 메테인, 수증기가 대표적인 온실기체다.
                  </p>
                </div>
                <div class="text-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>지구 파괴 원인</h3>
                            <p>
                                온실효과를 일으키는 온실기체가 유력한 원인으로 꼽힌다. 온실기체로는 이산화탄소가 가장 대표적이며 인류의 산업화와 함께 그 양은 계속 증가하고 있다. 이외에도 메테인, 수증기가 대표적인 온실기체다.
                            </p>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="project-details__images">
                                <img src="assets/images/projects/지구2-1.png" width="280" height="280" alt="">
                                <img src="assets/images/projects/지구1.png" width="280" height="280" alt="">
                            </div><!-- /.project-details__images -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.bottom-content -->
                <div class="text-box">
                  <h2>지구 온난화 전망</h2>
                  <p>
                      유엔 산하 기후변화에 관한 정부 간 협의체(IPCC)는 9일(현지시간) 기후변화에 대한 포괄적인 분석을 담은 6차 보고서를 발간했다. 이번 보고서는 지구 온난화로 향후 20년 안에 지구의 평균 온도가 19세기 말보다 섭씨 1.5도 상승할 수 있다고 전망했다.
                  </p>
                </div>
                <div class="text-box">
                  <h2>지구 보호 방법</h2>
                  <p>
                      1(일) 불필요한 조명 끄기 <br>
                      2(월) 걷기<br>
                      3(화) 장바구니 사용하기<br>
                      4(수) 꼭 필요한 것만 사기<br>
                      5(목) '지구 환경의 날' 알기<br>
                      6(금) 음식물 남기지 않기<br>
                      7(토) 계단 이용하기<br>
                      8(일) 천연 세제 사용하기<br>
                  </p>
                </div>

                
            </div><!-- /.container -->
        </section><!-- /.project-details -->


        <th:block th:replace="~{main/index-footer::footer}"></th:block>
        <div class="bottom-footer">
            <div class="container">
                <p>© Copyright 2020 by Company.com</p>
                <div class="bottom-footer__links">
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Sitemap</a>
                </div><!-- /.bottom-footer__links -->
            </div><!-- /.container -->
        </div><!-- /.bottom-footer -->

    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="far fa-times"></i></span>

            <div class="logo-box">
                <a href="/" aria-label="logo image"><img src="assets/images/logo-light.png" width="155" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="agrikon-icon-email"></i>
                    <a href="mailto:needhelp@agrikon.com">needhelp@agrikon.com</a>
                </li>
                <li>
                    <i class="agrikon-icon-telephone"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__language">
                    <img src="assets/images/resources/flag-1-1.jpg" alt="">
                    <label class="sr-only" for="language-select">select language</label>
                    <!-- /#language-select.sr-only -->
                    <select class="selectpicker" id="language-select">
                        <option value="english">English</option>
                        <option value="arabic">Arabic</option>
                    </select>
                </div><!-- /.mobile-nav__language -->
                <div class="mobile-nav__social">
                    <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/jarallax.min.js"></script>
    <script src="assets/js/circle-progress.min.js"></script>
    <script src="assets/js/wNumb.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>

    <!-- template js -->
    <script src="assets/js/theme.js"></script>
</body>

</html>