body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    background-color: #eee;
    font-size: 15px;
    color : #222;
}
a{
    color : #222;
    text-decoration: none;
}
header  {
    border-bottom : 1px solid lightgray;
    background-color: #fff;
    height: 60px;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
}
#container{
    padding-bottom: 768px;
    margin: 0;
}
section{
    height: calc(100vh - 60px);
    position: relative;
}
.login{
    width: 360px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.login-type{
    margin-top: 50px;
}
.login-type h1{
    margin-top:0;
    font-size: 38px;
    text-align: center;
    font-weight: normal;
}
h3{
    text-align: center;
    color: #454444;
}
.int-area{
    width: 340px; position:relative;
    margin-top:20px;
}
.int-area:first-child {
    margin-top: 0px;
}
.int-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; color: #000000;
    outline: none;
}

.int-area label{
    position: absolute; left: 10px; top: 15px;
    font-size: 17px; color: #999;
    transition: all .5s ease;
}
.int-area input:focus + label,
.int-area input:valid + label {
    top: -2px;
    font-size: 13px; color: #999;
}
.btnlogin{
    border: 1px solid lightblue;
    background: #6AA1D7;
    display: block;
    text-align: center;
    border-radius: 3px;
    margin-top: 10px;
    height: 58px;
    font-size: 18px;
    color:#fff;
    opacity: 0.8;
}
.btn{
    border: 1px solid lightblue;
    display: block;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 18px;
    color:#fff;
    opacity: 0.8;
}
.btn:hover {
    opacity: 1;
}
.btn:nth-of-type(1){
    background: #fff url(../images/icons/phone.jpg) no-repeat center left;
    color:#222;
}
.btn:nth-of-type(2){
     background: #00C73C url(../images/icons/naver.png) no-repeat center left;

}
.btn:nth-of-type(3){
    background: #F8DF00 url(../images/icons/kakao.jpg) no-repeat center left;
}
.or-text {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}
.or-text:before,
.or-text:after{
    content: '';
    background-color: lightgray;
    height: 1px;
    width: 44%;
    position: absolute;
    top:9px;
}
.login-footer{
    width: 100%;
    text-align: center;
}
.login-footer p {
    text-align: center;
}
.login-footer p a {
    font-weight: normal;
}
.login-footer p a:hover {
    text-decoration: underline;
}