<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Details Page || Agrikon || HTML Template For Agriculture Farm & Farmers</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <meta name="description" content="Agrikon HTML Template For Agriculture Farm & Farmers">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/jarallax.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/agrikon-icons.css">
    <link rel="stylesheet" href="assets/css/nouislider.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.pips.css">

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div class="preloader">
        <img class="preloader__image" width="55" src="assets/images/loader.png" alt="">
    </div><!-- /.preloader -->
    <div class="page-wrapper">

        <th:block th:replace="~{main/index-head::header}"></th:block>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="../main/index.html">Home</a></li>
                    <li>/</li>
                    <li><span>News Details</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
                <h2>News Details</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->


        <section class="blog-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-details__image">
                            <img src="assets/images/blog/where-trashbig.jpg" class="img-fluid" alt="">
                        </div><!-- /.blog-details__image -->
                        <div class="blog-card__content">
                            <div class="blog-card__date">18 Nov</div><!-- /.blog-card__date -->
                            <div class="blog-card__meta">
                                <a href="blog-details.html"><i class="far fa-user-circle"></i> by Admin</a>
                                <a href="blog-details.html"><i class="far fa-comments"></i> 2 Comments</a>
                            </div><!-- /.blog-card__meta -->
                            <h3><a href="blog-details.html">우리집 쓰레기는 어디에서 와서,어디로 갈까?</a></h3>
                        </div><!-- /.blog-card__content -->
                        <div class="blog-details__content">
                            <p>택배 주문이 몇 개 있던 터라 종이상자가 제법 된다. 택배 온 날이 다시 떠오른다. 현관 앞 커다란 종이 박스에 내심 설레었다. 이렇게 큰 걸 주문한 적이 없어 누군가 선물을 보냈는가 싶어 박스를 열고는 기가 찼다. 내가 주문한 물건보다 빈공간이 세 배나 많았다. 다른 택배 박스들도 사정은 비슷했다. 거기에 우편물 봉투, 달걀 상자, 충전재 대신 넣어준 종이 등등 종이류가 한가득이다. 종이박스에서 미처 제거하지 못한 스티커와 박스를 칭칭 감고 있던 테이프도 떼어낸다. 재활용이 안 될뿐더러 재활용을 방해한다고 하니 일일이 떼어 종량제 봉투에 버린다. 모아보니 야구공 하나다. 긴가민가한 종이는 한 번씩 찢어본다. 환경부와 한국환경공단 등이 제공한 '내손안의 분리배출' 앱에 따라 손으로 찢어지면 종이류, 그렇지 않으면 종량제봉투행이다. 난관에 봉착했다. 표시사항에 몸통은 종이팩, 뚜껑과 개봉부는 HDPE로 되어 있는데 그 밑에 '재활용 어려움'이라 적혀 있다. 분리배출해도 재활용이 어려우니 종량제 봉투에 버리라는 말인가. 혼동이 온다. 한참을 고민하다 결국 가위를 들고 개봉부를 잘라 몸통은 종이팩에 개봉부는 종량제 봉투로 배출했다.

 </p>
                            <p>
                                종이류에 이어 플라스틱 분리수거함을 보니 한숨부터 나온다. 기껏 용기 들고 떡볶이를 담아왔는데 단무지를 담아온 플라스틱 용기며 참다 참다 시킨 몇 번의 배달로 플라스틱 쓰레기가 적지 않다. 찜을 하나 시켰는데 플라스틱 용기만 8개에 뚜껑이 3개 나왔다. 거기에 비닐 덮개를 쉽게 뜯으라고 준 플라스틱 칼까지. 음식물이 묻은 플라스틱은 재활용이 안 된다. 조금이나마 죄책감을 덜 요량으로 열심히 닦아내 보는데 이내 인내심 폭발이다. 그나마 옆면이 평평한 용기는 음식물 제거가 쉬운데 울퉁불퉁한 용기에 배인 빨간 기름은 한두 번으로는 닦이질 않는다. 누군가 설거지하기 귀찮아 배달음식 시켜 먹는다고 하면 뜯어말릴 판이다. 작은 플라스틱 용기는 깨끗이 닦아내긴 했지만 재활용이 될지는 의문이다. 최근 기계식 자동화 시설을 갖춘 곳에선 작은 플라스틱도 선별이 가능하지만 그렇지 못한 선별장에선 선별이 안 될 가능성이 많다.


                            </p>
                            <p>화장품 용기도 내용물을 비우고 깨끗이 씻어놓았다. 하지만 기껏 분리 배출해봤자 재활용이 안 될 확률이 거의 90%. 한국포장재 재활용사업 공제조합이 진행한 연구에 따르면 그렇다. 뚜껑, 펌프, 몸통 등 재질별로 분리해 배출해도 달라지는 건 없다. 화장품 용기 몸통은 PET라고 표시되어 있지만 일반 PET와는 다르다. 두께도 두껍고 색깔도 있다. PET-G 재질이다. PET와 달리 PET-G는 재활용이 어렵고 오히려 일반 페트병 재활용을 방해한다고 한다. 애초에 쓰레기를 돈 주고 산 것이나 다름없다.


                            </p>
							<p>이번 주 가장 많이 배출한 쓰레기를 꼽자면 단연 비닐류가 1위다. 과자봉지, 라면봉지, 세제 리필 봉지, 일회용 마스크 포장재, 달걀 깨지지 말라고 넣어준 완충재, 고양이 습식사료 봉지, 간식 스틱 등등. 비닐류 역시 이물질이 묻어 있으면 재활용이 어렵다. 혹시 몰라 고양이 간식이 담겨 있던 스틱형 봉지는 가위로 잘라 한 번 더 씻어낸다. 라면봉지는 좀 속은 기분이다. 라면 4개를 사고 싶었을 뿐인데 묶음포장재 쓰레기가 딸려온 것이다. 올해부터 과대포장 및 재포장이 금지되었지만 라면처럼 이미 이중 포장되어 나온 상품은 예외라니 허탈하기까지 하다.


							
							</p>
							
							<p>한쪽 구석에 아이스 팩은 따로 모아뒀다. 벌써 10개가 넘었다. '비닐류 other'로 표시되어 있지만 고흡수성수지가 들어 있어 비닐류에 버리면 안 된다. 그렇다고 내용물을 배수구에 버리면 수질오염의 원인이 되고 종량제 봉투에 통째로 버려도 환경에 위험한 건 마찬가지. 환경부에 따르면 2019년 한해에만 2억1000만 개의 아이스팩이 사용되었고 이중 80%가 종량제 봉투에 담겨 버려진 것으로 추정된다. 재사용이 충분히 가능하지만 아이러니하게 재사용하는 비용이 더 비싸다. 환경부에 따르면 새로운 아이스팩 한 개를 105원에 구매할 수 있는데 아이스팩 재사용에 들어가는 비용은 회수 및 세척 등 200원꼴이다. 그나마 다행히 몇몇 지자체가 나서 아이스팩을 회수해 세척한 후 필요한 상인들에게 나눠주는 사업을 진행 중이며 우리 지자체도 최근 이 사업에 참여했다는 소식을 들었다. 조만간 이 아이스팩 상자도 정리를 할 수 있을 듯하다.


							
							</p>
							
							<p>자원순환정보센터에 따르면 종이박스 등 종이류는 물과 섞어 종이팩 풀어주는 해리공정을 거쳐 종이 원단을 생산해 두루마리휴지나 미용티슈 등을 만들 수 있다. 보통 소주병, 맥주병을 제외한 유리병은 백색, 갈색, 녹색 등 색상별로 선별을 한 후 세척, 잘게 파쇄한 후 유리병 재생원료로 사용된다. 금속캔은 선별시설에서 철캔과 알루미늄캔으로 선별한 후 각각 압축해 제철 또는 제강을 거쳐 재활용 캔제품, 자동차부품, 알루미늄제품, 철근제품 후 제품이 생산된다. 스티로폼이라 부르는 발포합성수지는 분쇄 후 부피를 줄이고 사각 형태로 압축한 후 녹여 실처럼 뽑아내 재생원료를 만드는 데 건축몰딩, 액자, 합성목재 등으로 재활용된다. 플라스틱은 보통 기계로 잘라 세척한 후 녹여 재생원료로 만든다. 같은 플라스틱처럼 보여도 재질별로 녹는점이 달라 여러 재질이 섞이거나 색상이 다르면 재생원료 품질이 낮을 수밖에 없다. 투명 페트병을 따로 분리 배출하는 이유도 이 때문이다. 비닐류는 대부분 other로 표기되어 있는데 여러 재질이 혼합된 것들이다. 비닐류는 크게 두 가지 방법으로 재활용된다. 다시 플라스틱 제품으로 재활용되거나 아니면 에너지를 회수하거나. 여러 재질이 혼합되어 있다 보니 플라스틱 제품으로 재활용되기 어렵고 대부분 에너지를 회수하는 방법으로 재활용된다. 폐기물고형연료제품(SRF)이 그것이다. 이를 보일러 시설이나 발전소에서 석탄 대신 사용하기도 하는데 가정에서 나오는 비닐의 70%를 이 방법으로 재활용한다고 한다. 최근엔 비닐을 높은 온도에서 쪄내 석유를 뽑아내기도 한다. 사실 말이 에너지 회수지 그냥 태우는 것이다.


							
							</p>
							<p>중요한 것은 내가 분리 배출한 폐기물이 다 재활용되는 것은 아니라는 점이다. 재활용 원료로 탄생하기 전 재활용품 선별처리시설에서 선별되어야 하는데 그 비율이 낮다. 서울의 한 재활용품선별처리시설에 따르면 일일 평균 60톤 정도의 재활용 폐기물이 들어오는데 이중 60% 정도만이 선별돼 재활용된다. 들어온 재활용 폐기물 중 40~45%는 잔재폐기물로 분류된다. 잔재폐기물은 2차 업체에 의뢰해 처리토록 하는데 결국 매립 혹은 소각행이다. 다른 곳도 사정은 비슷하다. 선별처리시설 담당자는 “아무래도 움직이는 컨베이너 벨트 위에서 재활용 가능한 폐기물을 사람이 일일이 손으로 집어내 선별하는 방식이라 놓치는 부분도 있을 것이다. 거기에 음식물이 묻어있거나 내용물이 남아있는 용기, 색깔 있는 페트 등도 선별에 방해요소다”라고 말한다.


							
							</p>
							
							<p>이미 나온 쓰레기를 어쩌랴. 그나마 재활용이라도 제대로 되길 바라며 단지 내에 분리수거장으로 향했다. 이미 분리수거장은 쓰레기로 가득 찼다. 경비아저씨께 쓰레기가 많이 나왔다고 슬쩍 여쭈니 "배가 늘었다. 전에는 마대자루 4개 정도면 됐는데 지금 봐라. 4개를 더 갖다 놨다"고 말씀하신다. 이 중에서 몇 %나 선택받아 재활용될 수 있을까. 이 쓰레기들은 다 어디로 갈까.


							
							</p>
							
                        </div><!-- /.blog-details__content -->

                        <div class="blog-details__meta">
                            <div class="blog-details__tags">
                                <span>Tags:</span>
                                <a href="#">Agriculture,</a>
                                <a href="#">Food,</a>
                                <a href="#">Economy</a>
                            </div><!-- /.blog-details__tags -->
                            <div class="blog-details__social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div><!-- /.blog-details__social -->
                        </div><!-- /.blog-details__meta -->

               
                    

                     
                        <div class="comment-form">
                            <h2>Leave a Comments</h2>

                            <form action="assets/inc/sendemail.php" class="contact-one__form contact-form-validated">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" name="name" placeholder="Full Name">
                                    </div><!-- /.col-lg-6 -->
                                    <div class="col-lg-6">
                                        <input type="text" name="email" placeholder="Email Address">
                                    </div><!-- /.col-lg-6 -->
                                    <div class="col-lg-6">
                                        <input type="text" name="phone" placeholder="Phone Number">
                                    </div><!-- /.col-lg-6 -->
                                    <div class="col-lg-6">
                                        <input type="text" name="subject" placeholder="Subject">
                                    </div><!-- /.col-lg-6 -->
                                    <div class="col-lg-12">
                                        <textarea name="message" placeholder="Write Message"></textarea>
                                    </div><!-- /.col-lg-12 -->
                                    <div class="col-lg-12">
                                        <button type="submit" class="thm-btn">Submit Comment</button><!-- /.thm-btn -->
                                    </div><!-- /.col-lg-12 -->
                                </div><!-- /.row -->
                            </form>
                        </div><!-- /.comment-form -->
                    </div><!-- /.col-lg-8 -->

                    <th:block th:replace="main/index-footer::footer"></th:block>


        <div class="bottom-footer">
            <div class="container">
                <p>© Copyright 2020 by Company.com</p>
                <div class="bottom-footer__links">
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Sitemap</a>
                </div><!-- /.bottom-footer__links -->
            </div><!-- /.container -->
        </div><!-- /.bottom-footer -->

    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="far fa-times"></i></span>

            <div class="logo-box">
                <a href="../main/index.html" aria-label="logo image"><img src="assets/images/logo-light.png" width="155" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="agrikon-icon-email"></i>
                    <a href="mailto:needhelp@agrikon.com">needhelp@agrikon.com</a>
                </li>
                <li>
                    <i class="agrikon-icon-telephone"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__language">
                    <img src="assets/images/resources/flag-1-1.jpg" alt="">
                    <label class="sr-only" for="language-select">select language</label>
                    <!-- /#language-select.sr-only -->
                    <select class="selectpicker" id="language-select">
                        <option value="english">English</option>
                        <option value="arabic">Arabic</option>
                    </select>
                </div><!-- /.mobile-nav__language -->
                <div class="mobile-nav__social">
                    <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/jarallax.min.js"></script>
    <script src="assets/js/circle-progress.min.js"></script>
    <script src="assets/js/wNumb.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>

    <!-- template js -->
    <script src="assets/js/theme.js"></script>
</body>

</html>