<html xmlns:th="http://www.thymeleaf.org/" xmlns: lang="ko">
<link rel="stylesheet" href="assets/css/postwrite.css">
<style>
    a:hover{
        text-decoration: none !important;
        color: #AA0E29 !important;
    }
    a {
        color: black !important;
    }
    #header-inner .logo a img {
        width: 100%;
        height: 100%;
        display: block;
        margin-top: 0 !important;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page || Agrikon || HTML Template For Agriculture Farm & Farmers</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <meta name="description" content="Agrikon HTML Template For Agriculture Farm & Farmers">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- include libraries(jQuery, bootstrap) -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/jarallax.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/agrikon-icons.css">
    <link rel="stylesheet" href="assets/css/nouislider.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.pips.css">
    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/main.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="page-wrapper">
    <div class="preloader">
        <img class="preloader__image" width="55" src="assets/images/loader.png" alt="">
    </div><!-- /.preloader -->
    <th:block th:replace="~{/main/index-head::header}"></th:block>
    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7 offset-3 mt-4">
            <div class="card-body">
                <label for="title">
                    <div class="post-title">게시판 글쓰기</div>
                </label>
                <hr>
                <form method="POST" th:action="upload" AUTOCOMPLETE="off">
                    <input type="text" class="form-control" id="title" th:text="${title}" name="title" maxlength="100" placeholder="제목을 입력해 주세요." AUTOCOMPLETE="off">
                    <div class="form-group">
                        <input class="form-control" id="summernote" th:text="${content}" name="summernote" maxlength="100" AUTOCOMPLETE="off">
                    </div>
                    <div class="post-btn-line">
                        <input type="submit" value="올리기" class="post-btn" style=:"margin-right:30px">
                        <a href="post" class="post-btn">뒤로가기</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="main/index-footer::footer"></th:block>
<div class="bottom-footer">
    <div class="container">
        <p>© Copyright 2020 by Company.com</p>
        <div class="bottom-footer__links">
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Sitemap</a>
        </div><!-- /.bottom-footer__links -->
    </div><!-- /.container -->
</div><!-- /.bottom-footer -->
</body>

<!-- summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script type="text/javascript">
    $('#summernote').summernote({
        height: 400
    });
</script>
<script src="assets/js/jquery-3.5.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/bootstrap-select.min.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/jquery.appear.min.js"></script>
<script src="assets/js/jarallax.min.js"></script>
<script src="assets/js/circle-progress.min.js"></script>
<script src="assets/js/wNumb.min.js"></script>
<script src="assets/js/nouislider.min.js"></script>

<!-- template js -->
<script src="assets/js/theme.js"></script>