<!DOCTYPE html>
<meta charset="UTF-8" />
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="header">
    <header class="main-header">
        <nav class="main-menu">
            <div class="container" style="margin: auto;">
                <div class="logo-box">
                    <a href="/" aria-label="logo image"><img src="assets/images/logo-dark.png" width="153" alt=""></a>
                    <span class="fa fa-bars mobile-nav__toggler"></span>
                </div><!-- /.logo-box -->
                <ul class="main-menu__list">
                    <li></li>
                    <li class="dropdown"><a th:href="@{projects}">환경 기념일</a></li>
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <a th:href="@{/contact}">기념일</a>-->
<!--                            </li>-->
<!--                        </ul>-->

                    <li class="dropdown"><a th:href="@{'./blog'}">뉴스</a>
                    </li>
                    <li class="dropdown"><a th:href="@{'./services'}">분리수거</a>
                        <ul>
                            <li><a th:href="@{'/service-details1'}">종이류</a></li>
                            <li><a th:href="@{'/service-details2'}">캔류</a></li>
                            <li><a th:href="@{'/service-details3'}">유리병류</a></li>
                            <li><a th:href="@{'/service-details4'}">플라스틱류</a></li>
                            <li><a th:href="@{'/service-details5'}">비닐류</a></li>
                            <li><a th:href="@{'/service-details6'}">스티로폼</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a th:href="@{'./upcycling'}">업사이클링</a>
                    </li>
                    <li class="dropdown">
                        <a th:href="@{map}">지도</a>
                    </li>
                    <li class="dropdown">
                        <a th:href="@{post(list=1)}">게시판</a>
                    </li>
                </ul>
                <!-- /.main-menu__list -->

                <div class="main-header__info">
                    <a class="main-header__cart-btn" href="#"></a>
                        <th:block>
                            <span class="main-header__info-phone-content">
                                <td th:if="${session.id == null && session.userEmail == null && session.currentAT == null && session.userInfo == null}">
                                <a th:href="@{'./loginPage'}" class="thm-btn">로그인</a>
                                </td>
                                <td th:unless="${session.id} == null">
                                <a th:href="@{'./logout'}" class="thm-btn">로그아웃</a>
                                </td>
                                <td th:unless="${session.userEmail} == null">
                                <a th:href="@{'/logout2'}" class="thm-btn">로그아웃</a>
                                </td>
                                <td th:unless="${session.currentAT} == null">
                                <a th:href="@{'./member/naverLogout'}" class="thm-btn">로그아웃</a>
                                </td>
                                <td th:unless="${session.userInfo} == null">
                                <a th:href="@{'./member/google/revoke/token'}" class="thm-btn">로그아웃</a>
                                </td>
                            </span><!-- /.main-header__info-phone-content -->
                        </th:block>
                </div><!-- /.main-header__info -->
            </div><!-- /.container -->
        </nav><!-- /.main-menu -->
    </header><!-- /.main-header -->
</div>
</html>