<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ko">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page || Agrikon || HTML Template For Agriculture Farm & Farmers</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon.ico">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <meta name="description" content="Agrikon HTML Template For Agriculture Farm & Farmers">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/jarallax.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/agrikon-icons.css">
    <link rel="stylesheet" href="assets/css/nouislider.min.css">
    <link rel="stylesheet" href="assets/css/nouislider.pips.css">
    <Link rel="stylesheet" href="./assets/css/loginstyle.css">
    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
<div class="preloader">
    <img class="preloader__image" width="55" src="assets/images/loader.png" alt="">
</div><!-- /.preloader -->
<div class="page-wrapper">

    <th:block th:replace="main/index-head::header"></th:block>
    <!-- content -->
    <div id="content">
        <div class="title" aria-live="assertive">
            <p></p>
        </div>
        <form target="_top" AUTOCOMPLETE="on" th:action="@{'./login'}"method="POST" name="login" id="login" novalidate>
            <!--<th:block th:if="${cookie_id == null}"></th:block>-->

            <fieldset class="login_form">
                <br><br><br>
                <th:block th:if="${session.name == 'name'}">
                    <section>
                        <div class="login">
                            <div class="login-type">
                                <br><br>
                                <h1 style="color: #1C354F">로그인</h1>
                                <div class="int-area">
                                    <input type="text" name="email" id="id" autocomplete="on" required>
                                    <label for="email">아이디(이메일)</label>
                                </div>
                                <div class="int-area">
                                    <input type="password" name="pw" id="pwd" autocomplete="off" required>
                                    <label for="pw">비밀번호</label>
                                </div>
                                <input type="submit" title="로그인" alt="로그인" value="로그인" class="btnlogin" th:id="${session.id}" style="width: 360px">
                                <div class="login-type">
                                    <hr>
                                    <a class="btn" href="#none">휴대폰 번호로 로그인</a>
                                    <a class="btn" href="#">네이버로 로그인</a>
                                    <a class="btn" href="#">카카오로 로그인</a>
                                </div>
                                <div class="login-footer">
                                    <a th:href="@{'./signupPage'}">회원가입</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </th:block>
                <th:block th:unless="${session.name == 'name'}">
                    <section>
                        <div class="login">
                            <div class="login-type">
                                <br><br>
                                <h1 style="color: #1C354F">로그인</h1>
                                <div class="int-area">
                                    <input type="text" name="email" id="email" autocomplete="on" required>
                                    <label for="email">아이디(이메일)</label>
                                </div>
                                <div class="int-area">
                                    <input type="password" name="pw" id="pw" autocomplete="off" required>
                                    <label for="pw">비밀번호</label>
                                </div>
                                <input type="submit" title="로그인" alt="로그인" value="로그인" class="btnlogin" id="log.login" style="width: 360px">
                                <div class="login-type">
                                    <hr>
                                    <a class="btn" href="https://accounts.google.com/o/oauth2/v2/auth?client_id=681230920409-v1n946gmsl1d3l6h4c700mnkdc50duba.apps.googleusercontent.com&redirect_uri=http://localhost:8888/member/google/auth&response_type=code&scope=openid%20email%20profile&access_type=offline">구글로 로그인</a>
                                    <a class="btn" href="https://nid.naver.com/oauth2.0/authorize?client_id=21Q2VD9txfpkGj8TyYof&response_type=code&redirect_uri=http://localhost:8888/member/callback&state=authorization_code">네이버로 로그인</a>
                                    <a class="btn" href="https://kauth.kakao.com/oauth/authorize?client_id=c34c9b0b74f8394309ca8e4fcdeef949&redirect_uri=http://localhost:8888/login-kakao&response_type=code">카카오로 로그인</a>
                                </div>
                                <div class="login-footer">
                                    <a th:href="@{'./signupPage'}">회원가입</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </th:block>
                <br><br>
                <th:block th:replace="main/index-footer::footer"></th:block>
                <div class="bottom-footer">
                    <div class="container">
                        <p>© Copyright 2020 by Company.com</p>
                        <div class="bottom-footer__links">
                            <a href="#">Terms & Conditions</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Sitemap</a>
                        </div><!-- /.bottom-footer__links -->
                    </div><!-- /.container -->
                </div><!-- /.bottom-footer -->

                <div class="mobile-nav__wrapper">
                    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
                    <!-- /.mobile-nav__overlay -->
                    <div class="mobile-nav__content">
                        <span class="mobile-nav__close mobile-nav__toggler"><i class="far fa-times"></i></span>

                        <div class="logo-box">
                            <a href="index" aria-label="logo image"><img src="assets/images/logo-light.png" width="155" alt="" /></a>
                        </div>
                        <!-- /.logo-box -->
                        <div class="mobile-nav__container"></div>
                        <!-- /.mobile-nav__container -->

                        <ul class="mobile-nav__contact list-unstyled">
                            <li>
                                <i class="agrikon-icon-email"></i>
                                <a href="mailto:needhelp@agrikon.com">needhelp@agrikon.com</a>
                            </li>
                            <li>
                                <i class="agrikon-icon-telephone"></i>
                                <a href="tel:666-888-0000">666 888 0000</a>
                            </li>
                        </ul><!-- /.mobile-nav__contact -->
                        <div class="mobile-nav__top">
                            <div class="mobile-nav__language">
                                <img src="assets/images/resources/flag-1-1.jpg" alt="">
                                <label class="sr-only" for="language-select">select language</label>
                                <!-- /#language-select.sr-only -->
                                <select class="selectpicker" id="language-select">
                                    <option value="english">English</option>
                                    <option value="arabic">Arabic</option>
                                </select>
                            </div><!-- /.mobile-nav__language -->
                            <div class="mobile-nav__social">
                                <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                                <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                            </div><!-- /.mobile-nav__social -->
                        </div><!-- /.mobile-nav__top -->



                    </div>
                    <!-- /.mobile-nav__content -->
                </div>
                <!-- /.mobile-nav__wrapper -->

                <div class="search-popup">
                    <div class="search-popup__overlay search-toggler"></div>
                    <!-- /.search-popup__overlay -->
                    <div class="search-popup__content">
                        <form action="#">
                            <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                            <input type="text" id="search" placeholder="Search Here..." />
                            <button type="submit" aria-label="search submit" class="thm-btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <!-- /.search-popup__content -->
                </div>
                <!-- /.search-popup -->

                <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>


                <script src="assets/js/jquery-3.5.1.min.js"></script>
                <script src="assets/js/bootstrap.bundle.min.js"></script>
                <script src="assets/js/swiper.min.js"></script>
                <script src="assets/js/jquery.ajaxchimp.min.js"></script>
                <script src="assets/js/jquery.magnific-popup.min.js"></script>
                <script src="assets/js/jquery.validate.min.js"></script>
                <script src="assets/js/bootstrap-select.min.js"></script>
                <script src="assets/js/wow.js"></script>
                <script src="assets/js/odometer.min.js"></script>
                <script src="assets/js/jquery.appear.min.js"></script>
                <script src="assets/js/jarallax.min.js"></script>
                <script src="assets/js/circle-progress.min.js"></script>
                <script src="assets/js/wNumb.min.js"></script>
                <script src="assets/js/nouislider.min.js"></script>

                <!-- template js -->
                <script src="assets/js/theme.js"></script>
            </fieldset>
        </form>
    </div>
</div>
</body>

</html>