.post-title{
    font-size: 22px;
    margin-bottom: -17px;
    font-weight: 700;
}
.offset-3 {
    margin-left: 6% !important;
}
hr{
    margin-top: 0;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}
. row {
    display: -ms-flexbox;
    display: flex;
    margin-left: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 90% !important;
    text-align: center;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    width: 1000px;
}
.post-btn {
    min-width: 120px;
    padding: 0 10px;
    position:relative;
    text-align:center;
    border: 2px solid;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    font:400 14px/46px 'Poppins', Arial, Helvetica, sans-serif;
}
.post-btn-line{
    margin: auto;
    text-align: center;
}
