<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" th:href="@{'/ad-index'}">Start Bootstrap</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="메인 페이지">
                <a class="nav-link"  th:href="@{'/ad-index'}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">메인 페이지</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="방문자수">
                <a class="nav-link" th:href="@{'/ad-charts'}">
                    <i class="fa fa-fw fa-area-chart"></i>
                    <span class="nav-link-text">방문자수</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="회원관리">
                <a class="nav-link" th:href="@{'/ad-member'}">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">회원관리</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="업사이클링">
                <a class="nav-link" th:href="@{'/ad-upcycling'}">
                    <i class="fa fa-fw fa-file"></i>
                    <span class="nav-link-text">업사이클링</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="행사">
                <a class="nav-link" th:href="@{'/ad-event'}">
                    <i class="fa fa-fw fa-sitemap"></i>
                    <span class="nav-link-text">행사</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="뉴스">
                <a class="nav-link" th:href="@{'/'}">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">뉴스</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>